<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApiUrl" value=""/>
    <add key="AuthorizationKey" value=""/>
    <add key="RetryCount" value="10"/>

    <add key="FTPDataPathComplete" value="Products/TXT/COMPLETE"/>
    <add key="FTPMediaPathComplete" value="Products/MEDIAPOOL/COMPLETE"/>
    <add key="FTPCatalogFilePath" value="Products/DISTRIBUTION"/>
    <add key="FTPDataFileNameComplete" value="Data_CSV.zip"/>
    <add key="FTPMediaFileNameComplete" value="MediaLinks.zip"/>

    <add key="TempFilesPath" value="Output"/>
    <add key="LogFilesPath" value="Logs"/>

    <add key="LogMissingProperties" value="False"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
</configuration>
